
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Nobile, Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
textarea,
.input {
    @apply rounded-md focus:ring focus:ring-primary focus:border-transparent focus:outline-none font-sans;
}

input[type='checkbox'] {
    @apply rounded-sm focus:ring-2 focus:ring-primary w-4 mb-1 mr-1 text-primary;
}

.hover-underline {
    position: relative;
}

.hover-underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: theme('colors.primary.DEFAULT');
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.hover-underline:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.btn {
    @apply rounded-lg px-4 py-2 focus:ring-4 focus:ring-opacity-50 shadow-md cursor-pointer;
    border: 2px solid var(--btn-color);
    background-color: var(--btn-color);
    color: white;
}

.btn-primary {
    @apply shadow-primary/50;
    --btn-color: theme('colors.primary.DEFAULT');
    --tw-ring-color: theme('colors.primary.light');
}

.btn-danger {
    @apply shadow-danger/50;
    --btn-color: theme('colors.danger.DEFAULT');
    --tw-ring-color: theme('colors.danger.light');
}

.btn-outline {
    background-color: white !important;
    color: var(--btn-color);
}

.alert {
    @apply rounded-md mt-2 m-5 text-white flex flex-row justify-start;
    background-color: var(--alert-bg-color);
    --alert-bg-color: theme('colors.info.DEFAULT');
}

.alert.alert-info {
    --alert-bg-color: theme('colors.info.DEFAULT');
}

.alert.alert-success {
    --alert-bg-color: theme('colors.success.DEFAULT');
}

.alert.alert-warning {
    --alert-bg-color: theme('colors.warning.DEFAULT');
}

.alert.alert-danger {
    --alert-bg-color: theme('colors.danger.DEFAULT');
}

.pagination {
    @apply relative z-0 inline-flex rounded-md shadow-sm -space-x-px bg-white text-gray-500;
}

.pagination em {
    @apply not-italic z-10 bg-blue-50 border-primary text-blue-700 relative inline-flex items-center px-4 py-2 border text-sm font-medium;
}

.pagination a {
    @apply border-gray-300 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium;
}

.pagination .previous_page {
    @apply relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 text-sm font-medium hover:bg-gray-50;
}

.pagination .previous_page.disabled {
    @apply hover:bg-white text-gray-300 cursor-not-allowed;
}

.pagination .next_page {
    @apply relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 text-sm font-medium hover:bg-gray-50;
}

.pagination .next_page.disabled {
    @apply hover:bg-white text-gray-300 cursor-not-allowed;
}

.md-ml-20 {
    @apply md:ml-20;
}

@keyframes flash {
   0% {
       opacity: 0;
   }
   75% {
       opacity: 1;
   }
   100% {
       opacity: 1;
   }
}


