/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree app/assets/stylesheets
 *= require_self
 */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/screens";

@font-face {
    font-family: bubbblegum;
    src: url("../../assets/fonts/bubbble_gum/BubbbleGum.otf");
}

@layer base {
    input[type='text'],
    input[type='email'],
    input[type='password'],
    input[type='number'],
    textarea {
        @apply rounded-md focus:ring-2 ring-primary;
    }

    input[type='checkbox'] {
        @apply rounded-sm focus:ring-2 ring-primary w-4 mb-1 mr-1;
    }
}

@layer components {
    .hover-underline {
        position: relative;
    }

    .hover-underline::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background-color: theme('colors.primary.DEFAULT');
        transform-origin: bottom right;
        transform: scaleX(0);
        transition: transform 0.5s ease;
    }

    .hover-underline:hover::before {
        transform-origin: bottom left;
        transform: scaleX(1);
    }

    .btn {
        @apply rounded-lg px-4 py-3 focus:ring-4 focus:ring-opacity-50 shadow-md cursor-pointer;
        border: 2px solid var(--btn-color);
    }

    .btn-primary {
        --btn-color: theme('colors.primary.DEFAULT');
        --tw-ring-color: theme('colors.primary.light');
        background-color: var(--btn-color);
        color: white
    }

    .btn-danger {
        --btn-color: theme('colors.danger.DEFAULT') !important;
        --tw-ring-color: theme('colors.danger.light') !important;
        background-color: var(--btn-color);
        color: white
    }

    .btn-outline {
        background-color: initial !important;
        color: var(--btn-color);
    }

    .alert {
        @apply rounded-md mt-2 m-5 text-white flex flex-row justify-start;
        background-color: var(--alert-bg-color);
        --alert-bg-color: theme('colors.info.DEFAULT');
    }

    .alert.alert-info {
        --alert-bg-color: theme('colors.info.DEFAULT');
    }

    .alert.alert-success {
        --alert-bg-color: theme('colors.success.DEFAULT');
    }

    .alert.alert-warning {
        --alert-bg-color: theme('colors.warning.DEFAULT');
    }

    .alert.alert-danger {
        --alert-bg-color: theme('colors.danger.DEFAULT');
    }
}

@layer utils {
    .font-bubbblegum {
        font-family: bubbblegum, Verdana, Roboto, sans-serif;
    }
}
