config/master.key

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
/node_modules/

/.env

# Ignore application configuration
/config/application.yml

/tmp/cache/**/*
/tmp/storage/**/*
/tmp/development_secret.txt
/tmp/**/*
/log/**/*
/.idea/**/*
