<h1 class="text-4xl m-4 text-center">About BookWyrm</h1>

<p>BookWyrm is an unbiased platform for viewing and reviewing books. It shows trends in popularity, all-time favorites,
and strives to gives users good book recommendations so that they can always find their next favorite book.</p>
