<% provide :title, 'Internal server error' %>
<div class="flex flex-col gap-4 font-bold h-full text-center">
  <h1 class="md:text-8xl sm:text-5xl text-2xl font-serif text-red-500" style="animation: flash 0.5s linear infinite;">DON'T PANIC!</h1>
  <h2 class="sm:text-2xl text-lg">Something went wrong on our side that you can't do anything about.</h2>
  <h2 class="sm:text-2xl text-lg">Sorry 'bout that. We're working on it.</h2>
  <img class="m-auto sm:w-1/3 w-3/4" alt="Green bug-eyed monster" src="<%= asset_path 'monster.svg' %>" />
</div>
