main#main {
    margin-top: 60px;
    margin-left: 13%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

div#content {
    margin-left: 10px;
    width: 90%;
    margin-right: 10px;
    min-height: 80%;
    margin-bottom: 10px;
    margin-top: 10px;
}